{% extends "posts/base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block content%}

<div class="ui grid container container-content">
    <div class="ui main text container segment fourteen wide column centered">
        <div class="ui huge header">
            {{post.title}}
        </div>
        {% if post.user.get_full_name %}
        <div class="ui small">By: {{post.user.get_full_name}}</div>
        {% if post.draft %}
        <div class="ui small red">Draft</div>
        {% endif %}
        {%endif%}
        <div class="ui small"><i>Read Time:{%if post.read_time <= 1%} less than 1 minute {% elif post.read_time <= 10 %}
            between 2 - 10 Minutes {% else %} {{ post.read_time }} Minutes {% endif %}</i></div>
        <div class="ui dividing header"></div>
        <div class="ui top attached">
            <div class="item">
                {% if post.image %}
                <img src="{{post.image.url}}" class="ui centered rounded image space">
                {% endif %}
                <div class="content space">
                    <span class="centered">{{post.date| timesince}} ago</span>
                </div>
                <div class="description space">
                    <div class="content-markdown"><p class="body">{{post.get_markdown}}</p></div>
                </div>

                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count"
                     data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                <div class="ui section divider"></div>


                <div class="ui grid">
                    <p class="container segment three wide column">Share on:</p>

                    <a class="container segment three wide column"
                       href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}/">
                        Facebook
                    </a>

                    <a class="container segment three wide column"
                       href="https://twitter.com/home?status={{ post.body|truncatewords:20|urlify }}%20{{ request.build_absolute_uri }}">
                        Twitter
                    </a>

                    <a class="container segment three wide column"
                       href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google </a>

                    <a class="container segment three wide column"
                       href="http://www.reddit.com/submit?{{ request.build_absolute_uri }}/&title={{ post.body|truncatewords:20|urlify}}">Reddit</a>

                </div>

                <div class="ui section divider"></div>

                {% if request.user == post.user %}
                <a href='{% url "posts:update" post_slug=post.slug%}' class="ui small grey basic button">UPDATE</a>
                <a href='{% url "posts:delete" post_slug=post.slug%}' class="ui small red basic button">DELETE</a>
                {% endif %}

                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>

                    {% for comment in post.comments.all %}
                    <!--main comment-->
                    <div class="comment comment-indent">
                        <div class="content">
                            <a class="author">{{ comment.user.get_full_name }}</a>
                            <div class="metadata">
                                <span class="date">{{ comment.timestamp| timesince}}</span>
                            </div>
                            <div class="text">
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                        {% if comment.children.count > 0%}
                        <span class="actions">{{ comment.children.count }} Replies | </span>
                        <a class="actions" href="{{ comment.get_absolute_path }}"> Thread | </a>
                        {% endif %}
                        <a class="comment-reply-btn actions">Reply</a>
                        <!--reply-->
                        <div class="comment-reply">
                            {% for child_comment in comment.children %}
                            <div class="comments comment-indent">
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">{{ child_comment.user.get_full_name }}</a>
                                        <div class="metadata">
                                            <span class="date">{{ child_comment.timestamp| timesince}}</span>
                                        </div>
                                        <div class="text">
                                            {{ child_comment.content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if request.user.is_authenticated %}
                            <form action="" method="post" class="ui reply form">{%csrf_token%}
                                {{ comment_form | crispy}}
                                <input type="hidden" name="parent_id" value="{{ comment.id}}">
                                <input class="ui blue mini labelled submit button" type="submit" value="Reply">
                            </form>
                            {% else %}
                            <p><a href="/login/">Please login to Reply</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <form action="" method="post" class="ui reply form">{%csrf_token%}
                        {{ comment_form | crispy}}
                        <input class="ui blue small labelled submit button" type="submit" value="Comment">
                    </form>
                    {% else %}
                    <div class="ui section divider"></div>
                    <div class="ui content">
                        <p><a href="/login/">Please login to Comment</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}