{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>

    {% block head_extra %} {% endblock head_extra %}

</head>

<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=2069253990027451';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="ui fixed inverted menu ">
    <div class="ui container">
        <div class="header item"><i class="icon code"></i>Blog Site</div>
        <a class="item" href="/posts">Home</a>
        <a class="item" href="/posts/create">New Blog</a>
    </div>
</div>

{% include 'posts/messages.html' %}

<div class="container container-content">
    {% block content%}

    {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.9/marked.min.js"></script>

<script>
    $(document).ready(function () {
//        $(".content-markdown").each(function () {
//            var content = $(this).text();
//            var markedContent = marked(content);
//            $(this).html(markedContent)
//            console.log(markedContent);
//
//
//        })

        $(".content-markdown img").each(function () {
            $(this).addClass('ui image fluid')
        })
    })
</script>

</body>
</html>