{% extends "posts/base.html" %}
{% load staticfiles %}


{% block content%}

<div class="container text main segment ui">
    <div class="ui header huge">Blog App</div>
    <div class="ui top attached segment">
        <form method="get">
            <div class="ui action input">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                <button class="ui button">Search</button>
            </div>
        </form>
        <div class="ui divided items">
            {% for post in posts %}
            <div class="item">
                <div class="content">
                    <a class="header list-title" id="title" href="{{ post.get_absolute_path }}">{{post.title}}</a>
                    {% if post.id|divisibleby:2 %}
                        <img src="{{post.image.url}}" class="ui centered rounded image space">
                    {% endif %}
                    <div class="meta">
                        <span>{{post.date| timesince}} ago</span>
                    </div>
                    <div class="description container-content content-markdown">
                        <p>{{post.get_markdown|truncatewords_html:50}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui section divider"></div>

    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
</div>

<br/>
<br/>


{% endblock content %}

