{% extends "posts/base.html" %}

{% block content%}

<div class="container text main segment ui">
    <div class="ui header huge">Blog App</div>
    <div class="ui top attached segment">
        <form method="get">
            <div class="ui action input">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                <button class="ui button">Search</button>
            </div>
        </form>
        <div class="ui divided items">
            {% for post in posts %}
            <div class="item">
                <div class="content">
                    <a class="header" href="">{{post.title}}</a>
                    <div class="meta">
                        <span>{{post.publish| timesince}} ago</span>
                    </div>
                    <div class="description">
                        <p>{{post.body| truncatewords:30}}<a href={{ post.get_absolute_path }}>more..</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
</div>


{% endblock content %}

