{% extends "posts/base.html" %}

{% block content%}

<div class="container text main segment ui" style="margin-top: 80px">
<div class="ui header huge">Blog App</div>

    <div class="ui top attached segment">
        <div class="ui divided items">
            {% for post in posts.all%}
            <div class="item">
                <div class="content">
                    <a class="header" href="">{{post.title}}</a>
                    <div class="meta">
                        <span>{{post.prettyDate}}</span>
                    </div>
                    <div class="description">
                        <p>{{post.summary}}<a href={{ post.get_absolute_path }}>more..</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

