{% extends "posts/base.html" %}

{% block content%}

<div class="ui grid container container-content">
    <div class="ui main text container segment twelve wide column centered">
        <div class="ui huge dividing header">{{post.title}}</div>
        <div class="ui top attached">
            <div class="item">
                <img src="{{post.image.url}}" class="ui centered rounded image space">
                <div class="content space">
                    <span class="centered">Created: {{post.date}}</span>
                </div>
                <div class="description space">
                    <p class="body">{{post.body}}</p>
                </div>
                <a href="" class="ui small grey basic button">UPDATE</a>
                <form id="delete" method="post" action="">
                    <button class="ui small red basic button">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content%}